@using ContosoUniversity.Models;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Contoso University</h1>
</div>
<div class="row">

    <h3> Futures Courses </h3>
    <div>
        
        <table class="table">
            <tr>
                <th class="col-md-2">
                    Name
                </th>
                <th class="col-md-2">
                    Instructor
                </th>
                <th class="col-md-2">
                    Launch Date
                </th>
                <th class="col-md-2">
                    Session Per Week
                </th>

            </tr>

            @foreach (Course course in @ViewBag.CoursesNotLaunched)
            {
                <tr>
                    <td class="col-md-2">
                        @course.Title
                    </td>
                    <td class="col-md-2">
                        @course.Instructors.First().FullName
                    </td>
                    <td class="col-md-2">
                        @if (@course.Lessons.FirstOrDefault() != null)
                        {
                            @course.Lessons.FirstOrDefault().DateStart.ToShortDateString()
                        }
                        else
                        {
                            <span>No planified lesson</span>
                        }
                    </td>
                    <td class="col-md-2">
                        @course.Lessons.Count()
                    </td>
                </tr>
            }

        </table>

        <h3> Launched Courses </h3>
        <table class="table">
            <tr>
                <th class="col-md-2">
                    Name
                </th>
                <th class="col-md-2">
                    Instructor
                </th>
                <th class="col-md-2">
                    Launch Date
                </th>
                <th class="col-md-2">
                    Session Per Week
                </th>
            </tr>
            @foreach (Course course in @ViewBag.CoursesLaunched)
            {
                <tr>
                    <td class="col-md-2">
                        @course.Title
                    </td>
                    <td class="col-md-2">
                        @course.Instructors.First().FullName
                    </td>
                    <td class="col-md-2">
                        @course.Lessons.FirstOrDefault().DateStart.ToShortDateString()
                    </td>
                    <td class="col-md-2">
                        @course.Lessons.Count()
                    </td>
                </tr>
            }
        </table>

    </div>


</div>