@model ContosoUniversity.ViewModels.WeeklyScheduleVM


@using ContosoUniversity.Models;
@using ContosoUniversity.Enumeration;
@{
    ViewBag.Title = "IndexInstructor";
}

<div class="jumbotron">
    <h1>Contoso University - Instructor </h1>
    <h2> Weekly Schedule - @Model.UserName</h2>
</div>
<div class="row">


    <div>
        <table class="table  table-bordered">
            <thead>

                @if (Session["User"] != null)
                {
                    Person user = (Person)Session["User"];
                    <p class="text-center h3">Agenda - @Model.UserName</p>
                }
            </thead>
            <tr>
                <th class="text-center">Heure</th>
                <th class="text-center" data-day="@CourseDay.Monday.ToString()">@CourseDay.Monday.ToString()</th>
                <th class="text-center" data-day="@CourseDay.Tuesday.ToString()">@CourseDay.Tuesday.ToString()</th>
                <th class="text-center" data-day="@CourseDay.Wednesday.ToString()">@CourseDay.Wednesday.ToString()</th>
                <th class="text-center" data-day="@CourseDay.Thursday.ToString()">@CourseDay.Thursday.ToString()</th>
                <th class="text-center" data-day="@CourseDay.Friday.ToString()">@CourseDay.Friday.ToString()</th>
            </tr>

            @for (int heure = 8; heure <= 19; heure++)
            {
                <tr>
                    <td class="text-center col-md-2">@heure h - @(heure + 1) h </td>

                    <td class="text-center col-md-2" data-day="@CourseDay.Monday.ToString()">@Model.Agenda[heure][CourseDay.Monday]</td>
                    <td class="text-center col-md-2" data-day="@CourseDay.Tuesday.ToString()">@Model.Agenda[heure][CourseDay.Tuesday]</td>
                    <td class="text-center col-md-2" data-day="@CourseDay.Wednesday.ToString()">@Model.Agenda[heure][CourseDay.Wednesday]</td>
                    <td class="text-center col-md-2" data-day="@CourseDay.Thursday.ToString()">@Model.Agenda[heure][CourseDay.Thursday]</td>
                    <td class="text-center col-md-2" data-day="@CourseDay.Friday.ToString()">@Model.Agenda[heure][CourseDay.Friday]</td>

                </tr>
            }
        </table>

    </div>


</div>

@section Scripts {
    @* Move to a separated script*@
    <script>
        $(document).ready(function () {
            var today = new Date(Date.now());
            var options = { weekday: 'long' };
            var stringday = new Intl.DateTimeFormat('en-US', options).format(today);

            $("th[data-day=" + stringday + "").addClass("planning-active");
            $("td[data-day=" + stringday + "").addClass("planning-active");


        })

    </script>
}

